@keyframes bounce {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(.78,.01,.83,.67);
  }
  /* 5%, 20% {
  }   */
40% {
    transform: translateY(7px);
    /* transform: none; */
    animation-timing-function: ease-in;
  }
  90% {
    transform: none;
  }
}

/* .bounce {
  animation: bounce_frames 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: 4;
}

@keyframes bounce_frames {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 50px, 0);
  }
} */