/* button */
.shepherd-button{
  margin-top: 40px;
  background-repeat: no-repeat;
  border:0;
  border-radius:3px;
  color:black;
  cursor:pointer;
  margin-right:.5rem;
  padding:.4rem 1rem;
  transition:all .5s ease;
  font-family: 'Pretendard';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 400px) {
  .shepherd-button {
    font-weight: 400;
    font-size:13px;
    line-height:20px;
  }
}
.shepherd-button-back{
  color: black;
  background:#ffffff;
  border: 1px solid #eeeeee;
}
.shepherd-button-next{
  background:#0B806F;
  color:#ffffff;
  border: 1px solid #0B806F;
}
.shepherd-button-never{
  color: black;
  background:#ffffff;
  border: 1px solid #eeeeee;
  margin-right: 21%;
}
@media (max-width: 400px) {
  .shepherd-button-never {
    margin-right: 15%;
  }
}
@media (max-width: 353px) {
  .shepherd-button-never {
    margin-right: 10%;
  }
}
.shepherd-button-never-biz{
  color: black;
  background:#ffffff;
  border: 1px solid #eeeeee;
  margin-right: 41%;
}
@media (max-width: 400px) {
  .shepherd-button-never-biz {
    margin-right: 40%;
  }
}
@media (max-width: 368px) {
  .shepherd-button-never-biz {
    margin-right: 37%;
  }
}
@media (max-width: 354px) {
  .shepherd-button-never-biz {
    margin-right: 34%;
  }
}
@media (max-width: 341px) {
  .shepherd-button-never-biz {
    margin-right: 30%;
  }
}
.shepherd-button-back:not(:disabled):hover{
  background:#eeeeee;
}
.shepherd-button-next:not(:disabled):hover{
  color: #0B806F;
  background: transparent;
  border: 1px solid #0B806F;
}
.shepherd-button-never:not(:disabled):hover{
  background:#ffffff;
  color:#D32F2F;
  border: 1px solid #D32F2F;
}
.shepherd-button.shepherd-button-secondary{
  background:#f1f2f3;
  color:rgba(0,0,0,.75)
}
.shepherd-button.shepherd-button-secondary:not(:disabled):hover{
  background:#d6d9db;
  color:rgba(0,0,0,.75)
}
.shepherd-button:disabled{
  cursor:not-allowed
}

/* footer */
.shepherd-footer{
  border-bottom-left-radius:5px;border-bottom-right-radius:5px;
  display:flex;
  justify-content:flex-end;
  padding:0 .75rem .75rem;
}
.shepherd-footer .shepherd-button:last-child{
  margin-right:0;
}

/* cancel */
/* .shepherd-cancel-icon{
  background: transparent;
  border:none;
  color:transparent;
  cursor:pointer;
  font-size:30px;
  font-weight:200;
  margin:0;
  padding:0;
  transition:color .5s ease;
  color: #ffffff;
}
.shepherd-cancel-icon:hover{
  color:#ffffff
} */

/* title */
.shepherd-has-title .shepherd-content .shepherd-cancel-icon{
  color:#ffffff
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover{
  color:#ffffff
}
  /* 제목 */
.shepherd-title{
  color:black;
  display:flex;
  justify-content: center;
  font-size:24px;
  font-weight:600;
  margin:0;
  padding:0;
  font-family: 'Pretendard';
}

/* header */
.shepherd-header{
  background: transparent;
  align-items:center;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  display:flex;
  line-height:2em;
  padding:.75rem .75rem 0;
  justify-content: space-between;
}
.shepherd-has-title .shepherd-content .shepherd-header{
  background:transparent;
  color: black;
  padding:1em
}

/* text */
.shepherd-text{
  justify-content: center;
  color:#212121;
  font-weight: 500;
  font-size:16px;
  line-height:24px;
  font-family: 'Pretendard';
}
.shepherd-text p{
  color:black;
  margin-top:0
}
@media (max-width: 400px) {
  .shepherd-text {
    font-weight: 400;
    font-size:14px;
    line-height:20px;
  }
}
.shepherd-text p:last-child{
  /* margin-bottom:15px */
}

/* content */
.shepherd-content{
  border-radius:5px;
  outline:none;
  padding:0
}

/* element */
.shepherd-element{
  background:#fff;
  border-radius:5px;
  box-shadow:0 1px 4px rgba(0,0,0,.2);
  max-width:400px;
  opacity:0;
  outline:none;
  transition:opacity .3s,visibility .3s;
  visibility:hidden;
  width:100%;
  z-index:9999;
  padding: 24px;
  transform: translateY(-100px);
}
@media (max-width: 400px) {
  .shepherd-element {
    padding: 19px;
  }
}
@media (max-width: 337px) {
  .shepherd-element {
    padding: 15px;
  }
}
@media (max-width: 329px) {
  .shepherd-element {
    padding: 13px;
  }
}
.shepherd-enabled.shepherd-element{
  opacity:1;
  visibility:visible
}
.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered){
  opacity:0;
  pointer-events:none;
  visibility:hidden
}
.shepherd-element,.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before{
  box-sizing:border-box;
}
.shepherd-arrow,
.shepherd-arrow:before{
  height:16px;
  position:absolute;
  width:16px;z-index:-1
}
.shepherd-arrow:before{
  background:#fff;
  content:"";
  transform:rotate(45deg)
}
.shepherd-element[data-popper-placement^=top]>.shepherd-arrow{
  bottom:-8px
}
.shepherd-element[data-popper-placement^=bottom]>.shepherd-arrow{
  top:-8px
}
.shepherd-element[data-popper-placement^=left]>.shepherd-arrow{
  right:-8px
}
.shepherd-element[data-popper-placement^=right]>.shepherd-arrow{
  left:-8px
} 
.shepherd-element.shepherd-centered>.shepherd-arrow{
  opacity:0
} 
.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before{
  background-color:#e6e6e6
}
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,.shepherd-target-click-disabled.shepherd-enabled.shepherd-target *{pointer-events:none}




/* 오버레이 */
.shepherd-modal-overlay-container{
  height:0;left:0;opacity:0;overflow:hidden;pointer-events:none;position:fixed;top:0;transition:all .3s ease-out,height 0ms .3s,opacity .3s 0ms;width:100vw;z-index:9997;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible{
  height:100vh;opacity:.5;transform:translateZ(0);transition:all .3s ease-out,height 0s 0s,opacity .3s 0s;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible path{
  pointer-events:all; 
}


